<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be right back...</title>

  <!-- 
    Docs: https://github.com/andrewhawkes/craft-cms-simple-error-templates
    Icons from: https://iconmonstr.com/
  -->

  <!-- Change your colours below: -->

  <style>

    :root {
      --bg-color: #f2f2f2;
      --bg-brand-color: #fffe00;
      --text-color: #202020;
      --link-color: #696379;
      --link-hover-color: #211462;
      --heading-color: #f1ab2c;
      --warning-icon-fill: #f1ab2c;
      --panel-bg-color: #ffffff;
      --panel-divide-color: #ececec;
      --panel-border-radius: 5px;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      font-size: 16px;
    }

    body {
      font-family: 'Roboto', 'Helvetica', 'Sans-serif';
      background: var(--bg-color, #e2e2e2);
      color: var(--text-color, black);
    }

    .heading-1 {
      font-size: 1.75rem;
      line-height: 1.375;
      color: var(--heading-color);
    }

    .container {
      padding: 2rem;
      background: linear-gradient(0deg, var(--bg-color) 0%, var(--bg-color) 50%, var(--bg-brand-color) 50%, var(--bg-brand-color) 100%)
    }

    .logo-container {
      max-width: 260px;
      margin: 0 auto 2rem auto;
    }

    .logo-link {
      display: block;
      transition: opacity 0.35s ease-in-out;
    }

    .logo-link:hover {
      opacity: 0.7;
    }

    .logo-link__logo {
      display: block;
      width: 100%;
      height: auto;
    }

    .panel {
      flex: 1;
      max-width: 720px;
      margin: 0 auto;
      padding: 3rem;
      text-align: center;
      background: var(--panel-bg-color, #e2e2e2);
      border-radius: var(--panel-border-radius, 10px);
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    }

    .panel__icon-container {
      max-width: 80px;
      margin: 0 auto 1rem auto;
    }

    .panel__icon {
      display: block;
      width: 100%;
      height: auto;
      fill: var(--warning-icon-fill, red);
    }

    .panel__copy {
      max-width: 600px;
      margin: 1rem auto 0 auto;
    }

    .panel__copy > * + * {
      margin-top: 1rem;
    }

    .panel__copy a {
      color: var(--link-color, blue);
      transition: color .35s ease-in-out;
    }

    .panel__copy:hover,
    .panel__copy:focus {
      color: var(--link-hover-color, purple);
    }

    .panel__copy p {
      line-height: 1.5;
    }

    .panel__contacts {
      display: flex;
      justify-content: center;
      margin: 2rem auto 0 auto;
      padding-top: 2rem;
      border-top: 1px solid var(--panel-divide-color, #CCCCCC);
    }

    .panel__contact-items {
      flex: 0 1 auto;
      text-align: left;
    }

    .panel__contact-item {
      list-style: none;
    }

    .panel__contact-item + .panel__contact-item {
      margin-top: 1.5rem;
    }
  

    .contact-link {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      font-weight: bold;
      text-decoration: none;
      color: var(--link-color, blue);
      transition: color .35s ease-in-out;
    }

    .contact-link:hover,
    .contact-link:focus {
      color: var(--link-hover-color, purple);
    }

    .contact-link__icon {
      flex: 0 0 auto;
      width: 2em;
      height: 2em;
      margin-right: 1em;
      fill: currentcolor;
    }

    @media only screen and (max-width: 560px) {

      .container {
        padding: 1.5rem;
      }

      .panel {
        padding: 1.5rem;
      }

      .heading-1 {
        font-size: 1.5rem;
      }

      .contact-link {
        font-size: 1rem;
      }

    }
    

  </style>
</head>
<body>

  <main>
    
    <div class="container">

      <div class="logo-container">
        <a href="#" target="_blank" rel="noopener" class="logo-link" title="Visit our website">
          <svg class="logo-link__logo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264.769 81.998"><g><path d="M78.29,21.656c4.945-4.944,4.945-12.992,0-17.94-2.397-2.396-5.585-3.715-8.974-3.715s-6.575,1.32-8.968,3.716c-2.404,2.403-3.724,5.59-3.716,8.971,0,.312-.02,.634-.046,.96-4.759-2.155-10.033-3.365-15.587-3.365s-10.825,1.21-15.582,3.363c-.026-.328-.045-.649-.045-.961,0-3.387-1.32-6.573-3.717-8.972C16.708-1.234,8.66-1.233,3.715,3.712,1.319,6.108,0,9.294,0,12.683s1.32,6.574,3.715,8.967c1.961,1.964,4.452,3.191,7.145,3.576-4.876,6.381-7.781,14.345-7.781,22.978,0,15.367,11.252,27.9,25.174,28.16,3.444,3.637,7.954,5.634,12.75,5.634h0c4.795,0,9.307-1.998,12.75-5.635,13.92-.262,25.172-12.793,25.172-28.159-.001-8.632-2.907-16.595-7.783-22.976,2.694-.387,5.186-1.612,7.147-3.572Zm-24.979,52.711c-.309,0-.584,.141-.768,.36-3.092,3.399-7.188,5.271-11.54,5.271s-8.472-1.883-11.568-5.301c-.189-.21-.459-.329-.741-.329-13.021,0-23.614-11.737-23.614-26.164,0-8.921,3.276-17.087,8.679-23.375,.307-.358,.62-.711,.94-1.056,.108-.116,.219-.23,.329-.345,.304-.318,.611-.633,.926-.939,.111-.108,.223-.214,.335-.32,.338-.321,.681-.636,1.031-.943,.078-.068,.156-.136,.235-.203,.418-.36,.842-.713,1.277-1.053l.004-.003c1.913-1.497,3.987-2.803,6.207-3.908,.046-.023,.08-.058,.121-.087,4.78-2.358,10.154-3.689,15.835-3.689s11.066,1.334,15.851,3.697c.037,.025,.068,.058,.109,.078,2.206,1.098,4.268,2.397,6.175,3.886l.068,.054c.413,.324,.817,.66,1.215,1.002,.097,.084,.194,.167,.29,.252,.328,.288,.65,.584,.967,.885,.135,.128,.27,.255,.403,.384,.282,.275,.557,.557,.83,.841,.146,.153,.294,.304,.438,.459,.261,.281,.514,.57,.767,.86,5.482,6.308,8.812,14.533,8.814,23.526,0,14.425-10.595,26.163-23.615,26.163Z"/><path d="M45.332,55.381h-8.66c-1.851,0-2.478,.847-2.687,1.352-.209,.504-.365,1.547,.944,2.857l2.866,2.863c.853,.855,1.992,1.326,3.206,1.326s2.353-.471,3.208-1.325l2.867-2.864c1.308-1.311,1.151-2.353,.942-2.857-.21-.505-.837-1.352-2.686-1.352Z"/><path d="M62.187,32.337c-5.188-5.187-12.654-6.166-16.642-2.178-3.987,3.989-3.013,11.455,2.174,16.643,3.037,3.037,6.854,4.631,10.297,4.63,2.439,0,4.691-.8,6.346-2.454,1.973-1.971,2.808-4.817,2.351-8.014-.442-3.089-2.049-6.153-4.525-8.627Zm-8.318,8.224c-.143,0-.283-.015-.419-.042-.947-.194-1.661-1.035-1.661-2.039,0-1.144,.933-2.075,2.078-2.075s2.075,.933,2.075,2.08c0,1.145-.93,2.077-2.073,2.077Z"/><path d="M36.456,30.16h0c-3.989-3.985-11.456-3.007-16.644,2.176-5.187,5.185-6.162,12.65-2.174,16.643,1.618,1.618,3.825,2.47,6.333,2.47,.547,0,1.108-.041,1.681-.123,3.09-.441,6.154-2.048,8.627-4.522,5.188-5.189,6.164-12.655,2.177-16.643Zm-6.245,8.32c0,1.146-.933,2.079-2.08,2.079s-2.076-.932-2.076-2.078,.934-2.076,2.081-2.076,2.075,.931,2.075,2.075Z"/></g><g><path d="M113.671,22.072c-1.017-.324-1.913-.486-2.686-.486-.864,0-1.548,.162-2.052,.486s-.756,.774-.756,1.35c0,.522,.175,.958,.526,1.31,.351,.351,.792,.639,1.323,.864,.53,.225,1.255,.473,2.173,.743,1.278,.378,2.326,.756,3.146,1.134,.819,.378,1.516,.936,2.092,1.674s.864,1.71,.864,2.916c0,1.152-.311,2.156-.932,3.01-.621,.855-1.476,1.508-2.565,1.958-1.089,.45-2.335,.675-3.74,.675-1.476,0-2.916-.274-4.32-.823-1.404-.549-2.628-1.283-3.672-2.201l1.512-3.078c.954,.882,2.025,1.576,3.213,2.079,1.188,.504,2.295,.756,3.321,.756,1.008,0,1.8-.193,2.376-.581,.576-.387,.864-.914,.864-1.58,0-.54-.176-.985-.527-1.336s-.796-.635-1.336-.851-1.278-.459-2.214-.729c-1.278-.378-2.322-.747-3.132-1.107-.81-.36-1.503-.905-2.079-1.634-.577-.729-.864-1.688-.864-2.875,0-1.098,.292-2.056,.877-2.875,.585-.819,1.413-1.453,2.484-1.903,1.07-.45,2.308-.675,3.712-.675,1.224,0,2.434,.18,3.631,.54,1.197,.36,2.263,.847,3.2,1.458l-1.458,3.159c-.972-.594-1.967-1.053-2.984-1.377Z"/><path d="M136.243,19.615c1.539,.846,2.749,2.007,3.632,3.483,.882,1.476,1.322,3.114,1.322,4.914s-.44,3.442-1.322,4.928c-.883,1.485-2.093,2.659-3.632,3.523-1.539,.864-3.244,1.296-5.116,1.296s-3.578-.432-5.117-1.296c-1.538-.864-2.749-2.039-3.631-3.523-.882-1.485-1.323-3.127-1.323-4.928s.441-3.438,1.323-4.914c.882-1.476,2.093-2.637,3.631-3.483,1.539-.846,3.245-1.269,5.117-1.269s3.577,.423,5.116,1.269Zm-8.275,2.821c-.99,.567-1.773,1.341-2.349,2.322-.577,.981-.864,2.065-.864,3.253s.292,2.277,.877,3.267c.585,.99,1.368,1.773,2.35,2.349,.98,.576,2.047,.864,3.199,.864,1.134,0,2.188-.288,3.159-.864s1.741-1.359,2.309-2.349c.566-.99,.851-2.079,.851-3.267s-.284-2.272-.851-3.253c-.567-.981-1.337-1.755-2.309-2.322-.972-.567-2.025-.85-3.159-.85-1.152,0-2.224,.283-3.213,.85Z"/><path d="M145.194,18.589h4.131l6.264,12.177,6.21-12.177h4.131v18.9h-3.32v-13.554l-5.887,11.61h-2.321l-5.913-11.61v13.554h-3.294V18.589Z"/><path d="M171.383,18.589h13.851v3.159h-10.232v4.671h9.18v3.159h-9.18v4.752h10.557v3.159h-14.175V18.589Z"/><path d="M116.101,47.234c-.909-.433-1.832-.648-2.768-.648-1.17,0-2.241,.279-3.213,.837-.972,.559-1.737,1.328-2.295,2.309-.558,.981-.837,2.057-.837,3.227s.279,2.246,.837,3.227c.558,.981,1.323,1.755,2.295,2.322s2.043,.851,3.213,.851c.9,0,1.805-.198,2.714-.594,.909-.396,1.714-.945,2.417-1.647l2.133,2.376c-.99,1.009-2.142,1.805-3.456,2.39s-2.646,.877-3.996,.877c-1.818,0-3.483-.432-4.995-1.296-1.512-.863-2.7-2.038-3.564-3.523-.864-1.484-1.296-3.127-1.296-4.927s.441-3.438,1.323-4.915c.881-1.476,2.083-2.637,3.604-3.482,1.521-.846,3.208-1.27,5.062-1.27,1.35,0,2.673,.271,3.969,.811s2.403,1.287,3.321,2.241l-2.106,2.646c-.667-.773-1.454-1.377-2.363-1.809Z"/><path d="M137.701,44.615c1.539,.846,2.749,2.007,3.632,3.482,.882,1.477,1.322,3.115,1.322,4.915s-.44,3.442-1.322,4.927c-.883,1.485-2.093,2.66-3.632,3.523-1.539,.864-3.244,1.296-5.116,1.296s-3.578-.432-5.117-1.296c-1.538-.863-2.749-2.038-3.631-3.523-.882-1.484-1.323-3.127-1.323-4.927s.441-3.438,1.323-4.915c.882-1.476,2.093-2.637,3.631-3.482,1.539-.846,3.245-1.27,5.117-1.27s3.577,.424,5.116,1.27Zm-8.275,2.821c-.99,.567-1.773,1.342-2.349,2.322-.577,.981-.864,2.065-.864,3.254s.292,2.276,.877,3.267,1.368,1.773,2.35,2.349c.98,.576,2.047,.864,3.199,.864,1.134,0,2.188-.288,3.159-.864,.972-.575,1.741-1.358,2.309-2.349,.566-.99,.851-2.079,.851-3.267s-.284-2.272-.851-3.254c-.567-.98-1.337-1.755-2.309-2.322s-2.025-.851-3.159-.851c-1.152,0-2.224,.283-3.213,.851Z"/><path d="M146.652,43.589h4.131l6.264,12.178,6.21-12.178h4.131v18.9h-3.32v-13.554l-5.887,11.609h-2.321l-5.913-11.609v13.554h-3.294v-18.9Z"/><path d="M186.112,45.29c1.305,1.134,1.957,2.736,1.957,4.807,0,2.159-.652,3.838-1.957,5.035-1.306,1.197-3.146,1.796-5.521,1.796h-4.131v5.562h-3.618v-18.9h7.749c2.376,0,4.216,.567,5.521,1.701Zm-2.565,7.561c.729-.595,1.094-1.476,1.094-2.646,0-1.151-.364-2.016-1.094-2.592-.729-.576-1.777-.864-3.146-.864h-3.941v6.993h3.941c1.368,0,2.417-.297,3.146-.891Z"/><path d="M204.619,62.489l-1.674-3.996h-9.233l-1.675,3.996h-3.753l8.289-18.9h3.753l8.182,18.9h-3.889Zm-9.611-7.101h6.642l-3.294-7.938-3.348,7.938Z"/><path d="M224.788,43.589h3.51v18.9h-3.429l-9.72-13.014v13.014h-3.537v-18.9h3.429l9.747,13.041v-13.041Z"/><path d="M248.954,43.589l-6.886,12.718v6.183h-3.618v-6.048l-7.047-12.853h3.672l5.157,8.884,5.076-8.884h3.646Z"/></g><g><path d="M255.544,58.989h.67v2.895h1.51v.605h-2.18v-3.5Z"/><path d="M258.009,58.989h2.854v.595h-1.09v2.905h-.675v-2.905h-1.09v-.595Z"/><path d="M263.884,59.212c.276,.148,.493,.355,.649,.622,.157,.267,.235,.568,.235,.905s-.079,.638-.237,.902c-.159,.265-.378,.473-.658,.622-.279,.15-.598,.226-.955,.226h-1.43v-3.5h1.455c.35,0,.663,.074,.94,.223Zm-.348,2.54c.171-.099,.306-.235,.402-.41s.145-.374,.145-.598-.05-.424-.149-.603c-.101-.179-.237-.316-.413-.415-.175-.099-.37-.147-.587-.147h-.775v2.32h.8c.214,0,.406-.05,.578-.147Z"/></g></svg>
        </a>
      </div>

      <section class="panel">
        <div class="panel__icon-container">
          <svg role="img" class="panel__icon" width="80" height="80" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" x="0px" y="0px"><path d="M11 6v8h7v-2h-5v-6h-2zm10.854 7.683l1.998.159c-.132.854-.351 1.676-.652 2.46l-1.8-.905c.2-.551.353-1.123.454-1.714zm-2.548 7.826l-1.413-1.443c-.486.356-1.006.668-1.555.933l.669 1.899c.821-.377 1.591-.844 2.299-1.389zm1.226-4.309c-.335.546-.719 1.057-1.149 1.528l1.404 1.433c.583-.627 1.099-1.316 1.539-2.058l-1.794-.903zm-20.532-5.2c0 6.627 5.375 12 12.004 12 1.081 0 2.124-.156 3.12-.424l-.665-1.894c-.787.2-1.607.318-2.455.318-5.516 0-10.003-4.486-10.003-10s4.487-10 10.003-10c2.235 0 4.293.744 5.959 1.989l-2.05 2.049 7.015 1.354-1.355-7.013-2.184 2.183c-2.036-1.598-4.595-2.562-7.385-2.562-6.629 0-12.004 5.373-12.004 12zm23.773-2.359h-2.076c.163.661.261 1.344.288 2.047l2.015.161c-.01-.755-.085-1.494-.227-2.208z"/></svg>
        </div>
        <header class="panel__header">
          <h1 class="heading-1">Be right back&hellip;</h1>
        </header>
        <div class="panel__copy">
          <p>We're currently making some changes to our website - we'll be back online soon.</p>
          <p>Please, try again shortly!</p>
          <p>In the meantime, if you need to get in touch you can do so on:</p>
        </div>
        <div class="panel__contacts">
          <ul class="panel__contact-items">
            <li class="panel__contact-item">
              <a class="contact-link" href="mailto:support@website.com" title="Email us"><svg role="img" class="contact-link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M12 2.02c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 12.55l-5.992-4.57h11.983l-5.991 4.57zm0 1.288l-6-4.629v6.771h12v-6.771l-6 4.629z"/></svg>support@website.com</a>
            </li>
            <li class="panel__contact-item">
              <a class="contact-link" href="tel:+448081570000" title="Telephone Us"><svg role="img" class="contact-link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.5 17.311l-1.76-3.397-1.032.505c-1.12.543-3.4-3.91-2.305-4.497l1.042-.513-1.747-3.409-1.053.52c-3.601 1.877 2.117 12.991 5.8 11.308l1.055-.517z"/></svg>08081 570000</a>
            </li>
            <li class="panel__contact-item">
              <a class="contact-link" href="https://www.facebook.com" target="_blank" rel="nofollow noopener" title="Our Facebook page"><svg role="img" class="contact-link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"/></svg>/somecompany</a>
            </li>
            <li class="panel__contact-item">
              <a class="contact-link" href="https://www.twitter.com" target="_blank" rel="nofollow noopener" title="Our Twitter profile"><svg role="img" class="contact-link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"/></svg>@somecompanyhandle</a>
            </li>
          </ul>
        </div>
      </section>

    </div>

  </main>
  
</body>
</html>